extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel="stylesheet" href="stylesheets/custom.css")

head
title = title

block body

    <a href="/">
    +img-responsive-center("images/logo.jpg")
    </a>

    .container
        +navbar(title, "dropdown_menu")
            +nav_item("/") Home
                +icon-success("home")
            +nav_item("browse?type=Broughton", "active") Browse
                +icon-success("book")
            +nav_item("/xquery") Search
                +icon-success("search")

    br

    .container
        h1 #{title}

        form(action='/changeview').pull-right
            input(type="hidden", name="docs", value=docs)
            button(type="submit").btn.btn-success View XML
        form(action='/download').pull-right
            input(type="hidden", name="docs", value=docs)
            button(type="submit").btn.btn-success Save File

        h3 #{fileName}
        textarea(id="textArea", style = "width: 100%; height: 500px;")
            p #{file}